<!DOCTYPE html>
<html>
<head>
  <title>Blog2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
	<div id="header"></div>
	<div id="sidebar">
		<a href="<%= root_path %>"><h2>Peter James Day</h2></a>
	</div>
	<div id="content" class="narrowcolumn">
	<br>
		<%= yield %>


	</div>
</div>
</body>
</html>
